/work/**
/.nextflow/**
/output*/**
/data*/**
!/data/.gitkeep
*.log*
.nextflow.pid
__pycache__/
*.swp
*DS_Store*
/*.html*
*.sif
/adorym/**
/adorym_new_fft/**
/adorym_main/**
python_base

**/depr_*
config_*.yaml