// See more here! https://www.nextflow.io/docs/latest/config.html
// For Slurm Settings: https://www.nextflow.io/docs/latest/executor.html#slurm
// Docker: https://www.nextflow.io/docs/latest/config.html?highlight=nextflow%20config#scope-docker
executor {
    name = 'slurm'
    jobName = { "'nf $task.name-$task.hash'" }
    cpus = 48//max total CPUs used by the pipeline at a given time
    //memory = "10Gb" //max total RAM used by the pipeline at a given time
    clusterOptions =" --exclude=sem-icefield"//custom Slurm settings 
}
process{
    //generic config for all processes
    cpus=1
    // withLabel:  all_cpu { //these settings override the generic ones
    //         cpus = 21
    // }
}
dag {//visualize the pipeline
    enabled = false
    file = 'pipeline_dag.pdf'
}



/*name: The name of the executor to be used e.g. local, sge, etc.

queueSize: The number of tasks the executor will handle in a parallel manner (default: 100).

pollInterval: Determines how often a poll occurs to check for a process termination.

dumpInterval: Determines how often the executor status is written in the application log file (default: 5min).

queueStatInterval: Determines how often the queue status is fetched from the cluster system. This setting is used only by grid executors (default: 1min).

exitReadTimeout: Determines how long the executor waits before return an error status when a process is terminated but the exit file does not exist or it is empty. This setting is used only by grid executors (default: 270 sec).

killBatchSize: Determines the number of jobs that can be killed in a single command execution (default: 100).

submitRateLimit: Determines the max rate of job submission per time unit, for example '10sec' eg. max 10 jobs per second or '50/2min' i.e. 50 job submissions every 2 minutes (default: unlimited).

perJobMemLimit: Specifies Platform LSF per-job memory limit mode. See LSF.

jobName: Determines the name of jobs submitted to the underlying cluster executor e.g. executor.jobName = { "$task.name - $task.hash" } Note: when using this option you need to make sure the resulting job name matches the validation constraints of the underlying batch scheduler.

cpus: The maximum number of CPUs made available by the underlying system (only used by the local executor).

memory: The maximum amount of memory made available by the underlying system (only used by the local executor).*/